@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

* {
    margin: 0px;
    padding: 0px;
    font-family: "Lato", sans-serif;
}

/* shared style */
/* main {
    max-width: 1140px;
    border-radius: 5px;
    border: none;
    margin: 0 auto;

} */
main section {
    margin: 130px 0;
}

.bg-background {
    background: #fff8f3;
}

.text-primary {
    color: #FD6E0A;
}

.dark-2 {
    color: #474747;
}

.dark-1 {
    color: #181818;
}

.dark-3 {
    color: #757575;
}

.btn-primary {
    background-color: #FD6E0A;
    color: white;
    border-radius: 5px;
    padding: 15px 30px;
    border: none;
}

.text-center {
    text-align: center;
}

.button-margin {
    margin-top: 50px;
}

/* header  */
.header {
    background-image: url("../images/developer.png"), url("../images/header_bg.png");
    background-repeat: no-repeat;
    background-position: top left, right bottom;
}


.container {
    max-width: 1140px;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
}

/* nav style */
nav {
    /* margin: 50px 230px 0; */
    /* max-width: 1140px; */
    display: flex;
    align-items: center;
    justify-content: space-between;


}

nav ul {
    display: flex;
    gap: 50px;
    align-items: center;

}

nav .nav-title {

    font-weight: 800;
    font-size: 45px;
    color: var(--dark-01);
}

nav ul li {
    list-style: none;


}

nav ul li a {
    text-decoration: none;

}

/* banner */
.banner {
    /* margin: 50px 50px 0px 230px; */
    /* max-width: 1140px; */
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.banner-img {
    width: 584px;
    height: 676px;
}

.banner-content {
    width: 585px;
}

.banner-greeting {

    font-weight: 600;
    font-size: 40px;


}

.banner-title {

    font-weight: 700;
    font-size: 80px;

}

.banner-description {

    font-weight: 400;
    font-size: 15px;
    line-height: 167%;

}

.about {
    padding: 130px 150px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    justify-content: center;
    text-align: center;
    margin: 150px 0;
}

/* another-shared */

.section-heading {

    font-weight: 700;
    font-size: 35px;
    /* text-align: center; */

}

.section-description {

    font-weight: 400;
    font-size: 18px;
    line-height: 167%;
    /* text-align: center; */

}

.about .info {
    display: flex;
    justify-content: space-around;
    text-align: center;
    align-items: center;
}

.about .info .induvidul-name {

    font-weight: 400;
    font-size: 20px;
    line-height: 150%;
    text-align: center;
    font-weight: 700;
}

.about .info .induvidul-des {

    font-weight: 400;
    font-size: 20px;
    line-height: 150%;
    text-align: center;

}

/* what-i-do */
.what-i-do {
    text-align: center;
    margin: 130px 0;

}

.what-i-do .section-heading {
    margin-bottom: 10px;
}

/* skills */
.skills {
    margin: -100px 0-100px 0;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 150px 30px;
    gap: 50px;

}

.skill {
    box-shadow: 0 6px 50px 0 rgba(0, 0, 0, 0.06);

}

.resume .section-heading {
    margin-bottom: 100px;
}

.in-resume {
    display: flex;
    justify-content: space-between;
    gap: 30px;
}

.education,
.my-experience {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.in-education,
.in-ex {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.edu-heading,
.ex-heading {
    font-family: var(--font-family);
    font-weight: 700;
    font-size: 30px;

}

.degree,
.position {
    font-family: var(--font-family);
    font-weight: 700;
    font-size: 25px;

}

.year,
.position-y {
    font-family: var(--font-family);
    font-weight: 600;
    font-size: 20px;
    color: var(--dark-03);
}

.position-description,
.edu-description {
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 16px;
    line-height: 175%;
    color: var(--dark-03);
}

/* .resume-container {
    display: flex;
    gap: 25px;
} */

/* footer */
.f-size {
    padding: 198px 250px;
}

.footer-margin * {
    margin-bottom: 10px;
}

footer {
    display: flex;
    gap: 25px;
}

footer .footer-colum {
    width: 50%;
}

footer input[type='text'],
footer input[type='email'],
footer textarea {
    width: 100%;
    display: block;
    height: 64px;
    border-radius: 5px;
    background-color: white;
    padding: 15px;
    border: none;
    outline: none;
    font-weight: 400;
    font-size: 16px;
    line-height: 175%;


}